body{
    text-indent:50px;
  }
  .header{
    text-align:center;
    color:red;
  }
  ul{
    font-family:sans-serif;
    font-style:italic;
  }
  .name{
    text-decoration:underline;
  }
  a{
    
    text-shadow:5px 5px 5px;
  }