html,
body {
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
#black {
    float: left;
    height: 100%;
    width: 350px;
}
#left-1 {
    float: left;
    width: 100px;
    height: 100%;
    background: #1d2531;
}
#left-2 {
    overflow: hidden;
    width: 250px;
    height: 100%;
    background: #222c3c;  
}
#white {
    overflow: hidden;
    height: 100%;
}
#top {
    height: 80px;
    background: yellow;
}
#messagelist {
    float: left;
    width: 400px;
    height: calc( 100% - 80px);
    background: red;
} 
#chat {
    overflow: hidden;
    height: calc( 100% - 80px);
    background: blue;
}
